/*
CSS File for FS Control Server
*/

:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  /*rgba(13, 110, 139, 0.75);*/
  --overlay-color: rgb(24, 39, 51);
  /*rgba(24, 39, 51, 0.85);*/
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
  display: grid;
  grid-template-columns: 230px auto;
  grid-template-areas:
    "nav-bar-left button-container";
  height: 100%;
  background-color: #333;
}

.nav-bar-left {
  display: block;
  grid-area: nav-bar-left;
  background-color: var(--primary-color);
  overflow-y: scroll;
}

.nav-bar-left::-webkit-scrollbar {
  display: block;
}

.nav-bar-left li a:hover {
  background-color: #333;
  color: var(--text-color-light);
}

.nav-bar-left ul {
  list-style-type: none;
  cursor: pointer;
}

.nav-bar-left li a {
  display: block;
  color: #333;
  padding: 16px 32px;
  font-size: 18px;
  width: 200px;
  margin: 5px auto;
}

.nav-bar-left li a:hover {
  background-color: #555;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar li a {
  display: block;
  color: #f1f1f1;
  padding: 16px 32px;
  margin-top: 3px;
  text-decoration: none;
  text-align: center;
  float: left;
  width: 150px;
}

.nav-bar li a:hover {
  background-color: #555;
  color: white;
}

button {
  width: 100%;
  height: 100%;
  color: var(--text-color-light);
  background: none;
  border: 3px solid var(--primary-color);
  justify-content: center;
  margin: 0px;
  cursor: pointer;
  text-align: center;
  user-select: none;
  font-size: 18px;

}

.button-container::-webkit-scrollbar {
  display: none;
}

.button-container {
  grid-area: button-container;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
    "button1 button2 button3 button4 button5"
    "button6 button7 button8 button9 button10"
    "button11 button12 button13 button14 button15"
    "button16 button17 button18 button19 button20"
    "button21 button22 button23 button24 button25"
  ;
  height: 100%;
  background-color: #555;
  width: 100%;
  padding: 5px;
  margin: 0px;
}

h5 {
  color: #333;
  font-size: 24px;
  font-weight: 80;
  margin-bottom: 10px;
}

#button1 {
  grid-area: button1;
}

#button2 {
  grid-area: button2;
}

#button3 {
  grid-area: button3;
}

#button4 {
  grid-area: button4;
}

#button5 {
  grid-area: button5;
}

#button6 {
  grid-area: button6;
}

#button7 {
  grid-area: button7;
}

#button8 {
  grid-area: button8;
}

#button9 {
  grid-area: button9;
}

#button10 {
  grid-area: button10;
}

#button11 {
  grid-area: button11;
}

#button12 {
  grid-area: button12;
}

#button13 {
  grid-area: button13;
}

#button14 {
  grid-area: button14;
}

#button15 {
  grid-area: button15;
}

#button16 {
  grid-area: button16;
}

#button17 {
  grid-area: button17;
}

#button18 {
  grid-area: button18;
}

#button19 {
  grid-area: button19;
}

#button20 {
  grid-area: button20;
}

#button21 {
  grid-area: button21;
}

#button22 {
  grid-area: button22;
}

#button23 {
  grid-area: button23;
}

#button24 {
  grid-area: button24;
}

#button25 {
  grid-area: button25;
}